.App {
  font-family: sans-serif;
  /* text-align: center; */
}
.content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;

  justify-content:space-evenly;
}

.card {
  background-color: black;
  color: white;
  /* padding: 10px; */
  border-radius: 5px;
  width: 280px;
  font-size: small;
  text-align: center;
}
.card:hover{
  background-color: rgb(17, 16, 16);
}

.avatar {
  /* border-radius: 100px; */
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.details {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.detail{
  /* background-color: rgb(165, 14, 14); */
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.summary{
  text-align: justify;
  padding: 10px;
}
.title{
  padding: 10px;
  margin-left: 20px;
  color:white;
}

