body{
  background-image: linear-gradient(to right,rgb(29, 88, 216), rgb(60, 138, 228));
}
.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* text-align: center; */
}
.content {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  justify-content:space-evenly;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  width: 320px;
  font-size: small;
  /* text-align: center; */
  box-shadow: 1px 3px whitesmoke;
}

.planname{
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: medium;
}
.planrate{
  text-align: center;
}
.rate{
  font-size: 60px;
  font-weight: bold;
}
.month{
  font-size: 15px;
}
.features{
  padding: 10px;
  font-size: medium;
}
.feature-avail{
  padding: 10px;
  color: black;
}
.feature-notavail{
  padding: 10px;
  color: gray;
}
.fas{
  font-weight: bolder;
}


