.App {
  font-family: sans-serif;
  /* text-align: center; */
}
body{
  /* background-image: linear-gradient(to top,#1B3D81 ,#8fa8e2); */
  background-color: #8fa8e2;
}
.bar{
  /* background-color: black; */
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  justify-content:space-evenly;
}

.card {
  background-color: black;
  color: white;
  /* padding: 10px; */
  border-radius: 5px;
  width: 280px;
  font-size: small;
  text-align: center;
}
.card:hover{
  background-color: rgb(17, 16, 16);
}

.avatar {
  /* border-radius: 100px; */
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.details {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.detail{
  /* background-color: rgb(165, 14, 14); */
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.summary{
  text-align: justify;
  padding: 10px;
}
.title{
  padding: 10px;
  margin-left: 20px;
  color:white;
}


/*****/
.form{
  margin: 0% 10%;
 text-align: center;
 width: 80%;
 padding: 20px;
 border-radius: 10px;
 background-color: rgb(229, 233, 243);
 box-shadow: 1px 2px gray;
}
.formhead{
  font-weight: bolder;
  font-size: x-large;
  /* color: rgb(36, 86, 194); */
}

.form label{
  margin: 5px;
}
button{
  margin: 20px;
  height: 40px;
  width: 80%;
  text-align: center;
}
.showformbtn{
  margin: 20px;
  height: 40px;
  width: 60%;
}
.textbox{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 5px;
  box-sizing: border-box;
}
.remove-btn{
  height: 40px;
  width: 40px;
  border-radius: 100px;
  color: white;
  background-color:rgb(116, 9, 9);
  border:none;
  outline: none;
  position: relative;
  margin: 3px;
  font-weight: bolder;
  font-size: medium;
}
.remove-btn:hover,.remove-btn:focus{
  border:2px solid red;
}
.material-head{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:100px;
}